<div class="xs:col-span-12 sm:col-span-6 lg:col-span-3 xs:mb-8">
  <a href="/movie/<%=movieTitle%>/<%=currentWow%>">
    <img src="<%=imgSrc%>" class="object-cover xs:rounded-md xs:shadow-md" />
  </a>
  <div class="flex flex-col justify-between xs:w-full xs:mt-2">
    <p class="text-sm text-black opacity-60">
      <%=decodeURIComponent(movieTitle)%> (<%=(movieYear)%>)
    </p>
    <p class="text-lg xs:mt-2">"<%=fullLine%>"</p>
  </div>
</div>
