<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head');%>
  </head>
  <body>
    <div
      class="flex w-full xs:flex-col xs:justify-center xs:items-center xs:mt-8"
    >
      <div class="flex xs:flex-col max-w-4xl xs:w-96 sm:w-8/12">
        <%- include('./partials/header.ejs');%>
        <main>
          <div class="flex flex-col xs:w-full xs:mt-10">
            <h1 class="text-4xl text-center">
              Find every instance of Owen Wilson saying "wow" in cinema
            </h1>
            <%- include('./partials/searchForm');%> <% if (typeof(title) !==
            'undefined' && title.length > 0) { %>
            <p class="mt-6"><%=`Search results for: "${title}"`%></p>
            <%}%> <% if (typeof(searchResults) !== 'undefined'){ %>
            <div class="search-results">
              <%- include('./partials/movieResults', { results: searchResults })
              %>
            </div>
            <%}%> <% if (typeof(randomResults) !== 'undefined'){ %>
            <div class="flex xs:flex-col xs:mt-8">
              <h2 class="text-2xl">Random Wows</h2>
              <div class="grid grid-cols-12 sm:gap-x-4 xs:mt-4">
                <%- include('./partials/movieResults', { results: randomResults
                }) %>
              </div>
            </div>
            <%}%>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
