<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head');%>
  </head>
  <body>
    <div
      class="flex w-full xs:flex-col xs:justify-center xs:items-center xs:mt-8"
    >
      <div class="flex xs:flex-col xs:max-w-sm">
        <%- include('../partials/header.ejs');%>
        <main>
          <div class="flex flex-col xs:w-full xs:mt-10">
            <%- include('../partials/searchForm');%> <% if (typeof(searchTerm)
            !== 'undefined' && searchTerm.length > 0) { %>
            <p class="mt-6"><%=`Search results for: "${searchTerm}"`%></p>
            <%}%> <% if (typeof(results) !== 'undefined'){ %>
            <div class="search-results">
              <%- include('../partials/movieResults', { results: results }) %>
            </div>
            <%}%>
          </div>
          <% if (pages > 0) { %> <%- include('../partials/pageNav', { current:
          current, pages: pages})%> <%}%>
        </main>
      </div>
    </div>
  </body>
</html>
