<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head');%>
  </head>
  <body>
    <div
      class="flex w-full xs:flex-col xs:justify-center xs:items-center xs:mt-8"
    >
      <div class="flex xs:flex-col xs:max-w-sm">
        <%- include('../partials/header.ejs');%>
        <main>
          <div class="flex flex-col xs:w-full xs:mt-10">
            <!-- <h1 class="text-4xl text-center">
              Find every instance of Owen Wilson saying "wow" in cinema
            </h1> -->
            <%- include('../partials/searchForm');%> <% if (typeof(searchTerm)
            !== 'undefined' && searchTerm.length > 0) { %>
            <p class="mt-6"><%=`Search results for: "${searchTerm}"`%></p>
            <%}%> <% if (typeof(results) !== 'undefined'){ %>
            <div class="search-results">
              <%- include('../partials/movieResults', { results: results }) %>
            </div>
            <%}%>
          </div>
          <% if (pages > 0) { %>
          <ul class="pagination text-center">
            <% if (current == 1) { %>
            <li class="disabled"><a>First</a></li>
            <% } else { %>
            <li><a href="/movies/1">First</a></li>
            <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1)
            %> <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
            <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) {
            %> <% if (i == current) { %>
            <li class="active"><a><%= i %></a></li>
            <% } else { %>
            <li><a href="/movies/<%= i %>"><%= i %></a></li>
            <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
            <% } %> <% } %> <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
            <% } else { %>
            <li><a href="/movies/<%= pages %>">Last</a></li>
            <% } %>
          </ul>
          <%}%>
        </main>
      </div>
    </div>
  </body>
</html>
